  {
    "name": "",
    "sex": "",
    "office": "",
    "birth_date": "",
    "outcome": "[excommunicated](??????????????????????????)",
    "for": "",
    "+notes": "",
    "date": "",
    "unit": "",
    "location": "",
    "sections": [
      "20th Century"
    ],
    "tags": [
      "improvement-era",
      "???????????????????????"
    ]
  },
